---
import { SocialIcon } from "react-social-icons";
---

<div class="flex space-x-4">
  <SocialIcon
    fgColor=""
    className="hover:scale-110 transition-transform duration-400 transform"
    url="https://github.com/Neira21"
  />
  <SocialIcon
    className="hover:scale-110 transition-transform duration-400 transform"
    url="https://www.linkedin.com/in/alvaro-neira-0129771b6/"
  />
  <SocialIcon
    className="hover:scale-110 transition-transform duration-400 transform"
    url="https://twitter.com/alvaro2167N"
  />
  <SocialIcon
    className="hover:scale-110 transition-transform duration-400 transform"
    network="email"
    href="mailto:alvaroneira98@gmail.com"
  />
</div>
