---
  import Layout from "../layouts/Layout.astro";
  import Header from "../components/header/Header.astro"
  import About from "../components/main/About.astro"
  import Projects from "../components/main/Projects.astro"
  import Experience from "../components/main/Experience.astro"
  import Tecnologias from "../components/main/Tecnologias.astro";
  import Footer from "../components/footer/Footer.astro";
  import Contact from "../components/main/Contact.astro";
---

<Layout title="Portlofio Alvaro Neira">
  <Header/>  
  <main>
    <About/>
    <Projects/>
    <Tecnologias/>
    <Experience/>
    <Contact/>
  </main>
  <footer>
    <Footer/>
  </footer>
</Layout>